

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fd748cc6-7620-4329-8431-87273a4ac6e5.jfif" class="img-fluid" id="fotoperfil" >
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
        <p>Fullstack developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mi</h1>
            <p>Mi nombre es Ariana, soy desarolladora de software Full Stack jr </p>
        </span>
    </div>
</div>
