<div class="row" >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fd748cc6-7620-4329-8431-87273a4ac6e5.jfif" class="img-fluid" id="fotoperfil" >
    </div>
</div>

<section>
  <div class="card card-generic" *ngIf="persona">
    <div class="card-header">
      Acerca de mi
    </div>
    <div class="card-body">
      <h5 class="card-title">{{persona.nombre}} {{persona.apellido}}</h5>
      <p>Fullstack developer Jr</p>
      <p class="card-text">{{persona.descripcion}}</p>
      <button type="button" class="btn btn-primary" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged">
        Editar descripcion
    </button>
    </div>
  </div>
</section>
