.row{
    padding: 20px;
}
#nombre{
    font-weight: bold;
    font-family:  Georgia, serif;
    margin-top: 25%;
}
/*estilo de foto perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        z-index: 1;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top:325px
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 35%;
        z-index: 1;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 32%;
        top: 535px;
    }
}