<body>
    <div class="wrapper fadeInDown" *ngIf="persona">
        <div id="formContent">
        <!-- Edit Form -->
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <label for="nombre">Nombre </label>
            <input type="text" class="form-control col-lg-6 offset-3" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
            
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control col-lg-6 offset-3" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>

            <label for="apellido">Descripcion </label>
            <input type="text" class="form-control col-lg-6 offset-3" id="descripcion " name="descripcion" [(ngModel)]="persona.descripcion" required>

            <label for="img">imagen</label>
            <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img"  (change)="uploadImage($event)" accept=".jpg , .jpeg, .png" >

            <input type="submit" class="fadeIn fourth" value="Editar persona">
        </form>
    </div>
  </div>
</body>