
<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    
    <div class="row" *ngFor="let Experiencia of expe">
      <div class="col-sm-6">
        <div class="card card-generic">
          <div class="card-body">
            <h2 class="card-title">{{Experiencia.nombreE}}</h2>
            <p class="card-text">{{Experiencia.descripcionE}}</p>
  
            <button *ngIf="isLogged" 
                    class="btn btn-danger" 
                    (click)="delete(Experiencia.id)">
              <i class="bi bi-trash-fill">
                  BORRAR
              </i> 
            </button>
  
            <button *ngIf="isLogged" 
                    class="btn btn-light" 
                    routerLink="/editexp/{{Experiencia.id}}">
              <i class="bi bi-pencil-fill">EDITAR</i> 
            </button>
            
          </div>
        </div>
      </div>
    </div>
</div>
