<body>
    <div class="wrapper fadeInDown" *ngIf="educacion">
        <div id="formContent">
        <!-- Edit Form -->
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <label for="nombreE">Nombre de la institucion</label>
            <input type="text"  id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
            <label for="descripcionE">Descripcion sus estudios</label>
            <input type="text" class="form-control col-lg-6 offset-3" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
            <input type="submit" class="fadeIn fourth" value="Editar educacion">
        </form>
    </div>
  </div>
</body>