<div class="row">
    <h1>Educacion </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
               <h1> Estudio 1 </h1> <h3>(anio)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur at pariatur recusandae mollitia provident libero dolor nam amet illum aut, dolore voluptas commodi nisi! Veritatis dolore vel eligendi corporis temporibus!</p>
            <li>
               <h1> estudio 2 </h1> <h3>(anio)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur at pariatur recusandae mollitia provident libero dolor nam amet illum aut, dolore voluptas commodi nisi! Veritatis dolore vel eligendi corporis temporibus!</p>
        </ul>
    </div>
</div>