<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg-prog.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="" ><img src="../../../assets/GitHub-Mark.png" id="Github"> </a>
                <a href="" ><img src="../../../assets/png-transparent-linkedin-computer-icons.png" id="Linkedin"> </a>
                <a href="" ><img src="../../../assets/facebook-icono.png" id="Facebook"> </a>
                <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
        </div>

    </div>

</div>

