.row{
    background: rgb(240, 134, 205);

}
footer{
    color: #fefefe;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #d4d2d2 ;
}